* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.house-layout {
    
    position: relative;
    text-align: center;
    background: rgba(76, 0, 130, 0.056);
    height: 930px;
}

.layout{
    width: 70%;
    margin-top: 60px;
}

.light {
    position: absolute;
    transition: opacity 0.3s ease;
    cursor: pointer;
    width: 200px;
}

#light1 {
    top: 470px;
    left: 570px;
}

#light2 {
    top: 170px;
    left: 1200px;
}

#light3 {
    top: 500px;
    left: 1200px;
}

#gas_img {
    position: absolute;
    top: 160px; 
    left: 580px;
    width: 165px;
    height: 160px;
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blink-animation {
    animation: blink-animation 1s infinite;
}