* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.house-layout {
    
    position: relative;
    text-align: center;
    background: rgba(76, 0, 130, 0.056);
    height: 930px;
}
.layout{
    width: 70%;
    margin-top: 60px;
}

.light {
    position: absolute;
    transition: opacity 0.3s ease;
    cursor: pointer;
    width: 200px;
}

#light1 {
    top: 140px;
    left: 570px;
}

#light2 {
    top: 470px;
    left: 570px;
}

#light3 {
    top: 170px;
    left: 1200px;
}

#light4 {
    top: 500px;
    left: 1200px;
}

@media screen and (max-width: 768px) and (orientation: landscape){
    .house-layout {
        position: relative;
        width: 100%;
    }

    /* .light {
        position: absolute;
        width: 100px;
        height: 100px;
        transition: opacity 0.3s ease;
    } */

    #light1 {
        top: 50px;
        left: 570px;
    }
    
    #light2 {
        top: 470px;
        left: 570px;
    }
    
    #light3 {
        top: 170px;
        left: 1200px;
    }
    
    #light4 {
        top: 500px;
        left: 1200px;
    }
}